@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-1 {
    @apply text-4xl;
  }

  .header-2 {
    @apply text-2xl;
  }

  .header-3 {
    @apply text-xl;
  }

  .link {
    @apply underline text-sky-500;
  }

  .navlink {
    @apply flex items-center justify-center border-r border-stone-700 px-4 cursor-pointer;
  }

  .navlink:hover {
    @apply border-b-2 border-b-sky-700 top-[1px] relative;
  }

  .navlink.active {
    @apply border-b-2 border-b-sky-500 top-[1px] relative;
  }

  .navlink.active:hover {
    @apply border-b-sky-500;
  }

  .paragraph {
    @apply text-white/70;
  }

  .table {
    @apply my-4;
  }

  .th {
    @apply text-white/90 bg-zinc-800 px-4 py-2 text-left border border-stone-700;
  }

  .td {
    @apply text-white/90 border px-4 py-2 border-stone-700;
  }

  .text-bright {
    @apply text-white/90;
  }

  .label {
    @apply text-white/90;
  }

  .input {
    @apply my-2 text-white block border border-slate-400 px-4 py-2 w-full bg-zinc-700 border-0 outline-0;
  }

  .btn {
    @apply px-4 py-2 border-0;
  }

  .btn-primary {
    @apply bg-zinc-700;
  }

  .btn-primary:hover {
    @apply bg-zinc-600;
  }

  .btn-secondary {
    @apply border border-zinc-600;
  }

  .btn-secondary:hover {
    @apply bg-zinc-600;
  }

  .videoSizer video {
    @apply w-full h-full;
  }
}

body {
  padding: 0rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.signika {
  font-family: "Signika", sans-serif;
}
