@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-1 {
    @apply text-4xl;
  }

  .header-2 {
    @apply text-2xl;
  }

  .header-3 {
    @apply text-xl;
  }

  .button {
    @apply px-4 py-2 rounded border border-zinc-700 hover:bg-zinc-700;
  }

  .link {
    @apply underline text-green-600;
  }

  .navlink {
    @apply text-green-300;
  }

  .navlink.active {
    @apply text-green-600;
  }

  .table {
    @apply my-4;
  }

  .th {
    @apply bg-black/10 px-4 py-2 text-left border border-black/30;
  }

  .td {
    @apply border border-black/30 px-4 py-2;
  }

  .videoControl {
    @apply text-white/90 bg-gray-800 px-2 relative h-12 flex items-center;
  }

  .text-bright {
    @apply text-white/90;
  }

  .input {
    @apply block border border-slate-400 px-4 py-2 text-stone-900;
  }

  .btn {
    @apply px-4 py-2;
  }

  .btn-primary {
    @apply bg-slate-400;
  }

  .btn-secondary {
    @apply px-4 py-2 border border-slate-400;
  }
}

body {
  padding: 0rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.signika {
  font-family: "Signika", sans-serif;
}
