@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 1rem;
}

@layer components {
  .header-1 {
    @apply text-4xl;
  }

  .header-2 {
    @apply text-2xl;
  }

  .header-3 {
    @apply text-xl;
  }

  .button {
    @apply px-4 py-2 rounded border border-zinc-800/60 hover:bg-zinc-100;
  }

  .link {
    @apply underline text-green-600;
  }

  .table {
    @apply my-4;
  }

  .th {
    @apply bg-black/10 px-4 py-2 text-left border border-black/30;
  }

  .td {
    @apply border border-black/30 px-4 py-2;
  }
}
